	.stpulldown-gradient
	{
		background: #E1E1E1;
		background: -moz-linear-gradient(top, #E1E1E1 0%, #A7A7A7 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#A7A7A7)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1E1E1', endColorstr='#A7A7A7',GradientType=0 ); /* ie */
		background: -o-linear-gradient(top, #E1E1E1 0%,#A7A7A7 100%); /* opera */
		color: #636363;
	}
	# #stpulldown .stpulldown-logo
	# {
	# 	height: 40px;
	# 	width: 300px;
	# 	margin-left: 20px;
	# 	margin-top: 5px;
	# 	background:url("//sd.sharethis.com/disc/images/Logo_Area.png") no-repeat;
	# }

	#sharebar-livestream-big{
		width:306px !important;
	}
	#sharebar-livestream-big iframe #widgetBody{
		height:363px !important;
	}
	#sharebar-fb-big{
		width:256px !important;
	}
	#sharebar-fb-big-iframe div{
		height:463px !important;
	}
	#sthoverbuttons #sthoverbuttonsMain{
    	width: 45px !important;
	}
	#stpulldown #stpulldownMain {
    	max-height: 45px !important;  
   	}
   	#sharebar-tw-big{
   		width:256px !important;
   		height:383px !important;
   	}
   	#sharebar .sharebar-window{
   		bottom:30px !important;
   	}
   	.stMainServices {  
    	height: 27px !important;
	}
	.stButton .stArrow{
		height: 27px !important;
	}
	.stButton .stButton_gradient{
		height: 23px !important;
	}
	
	.stButton .stBubble_count{
		height: 38px !important;
	}
	.sharetext{
        display:none !important;
    }
    .sthoverbuttons-label{
        display:none !important;
    }